

.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 100%;
  height: 255px;

}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.wrapper-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  margin-bottom: 50px;
  margin-right: 50px;
}
.wrapper-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.input-search {
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.App-footer {
  margin: 0;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  width: 100%;
  height: 50px;
  /* position: fixed; */
  bottom: 0;
  left: 0;
}
.user {
  max-width: 380px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #282c34;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wrapper-con-load{
  height: 100%;
}
.wrapper-loading{
 height: 712px;
}

.repos {
  display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 15px 40%;
}

